<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main class="etf-container">
        <h3>This will be the ETF page</h3>

       <div class="mat-elevation-z8">
           <mat-table [dataSource]="etfData">
               <ng-container matColumnDef="name">
                   <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                   <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
               </ng-container>
               <ng-container matColumnDef="ticker">
                <mat-header-cell *matHeaderCellDef>Ticker</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.ticker}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="assetClass">
                <mat-header-cell *matHeaderCellDef>Asset Class</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.assetClass}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="expenseRatio">
                <mat-header-cell *matHeaderCellDef>Expense Ratio</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.expenseRatio | percent}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="price">
                <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.price | currency}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="change">
                <mat-header-cell *matHeaderCellDef>Change</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.change | currency}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="SEC_yield">
                <mat-header-cell *matHeaderCellDef>SEC Yield</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.SEC_yield | percent}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="YTD">
                <mat-header-cell *matHeaderCellDef>YTD</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.YTD | percent}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="oneYear">
                <mat-header-cell *matHeaderCellDef>1-Year</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.oneYear | percent}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="fiveYear">
                <mat-header-cell *matHeaderCellDef>5-Year</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.fiveYear | percent}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="tenYear">
                <mat-header-cell *matHeaderCellDef>10-Year</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.tenYear | percent}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="sinceInception">
                <mat-header-cell *matHeaderCellDef>Since Inception</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.sinceInception | percent}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <button mat-icon-button color="primary"><mat-icon>launch</mat-icon></button>
                </mat-cell>
            </ng-container>
               <mat-header-row *matHeaderRowDef="tableConfig"></mat-header-row>
               <mat-row *matRowDef="let row; columns: tableConfig;"></mat-row>
           </mat-table>
       </div>
    </main>
</body>
</html>
