.etf-container {
    background-color: aquamarine;
    height: 100%;
    width: 1300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 80px;
    transform: translate(-50%, -50%);
    align-content: center;
    text-align: center;
}

.hide {
    display: none;
}

mat-footer-row mat-footer-cell {
    justify-content: center;
    font-style: italic;
}
mat-header-cell{
    background-color: rgb(170, 168, 168);
}

.etf-data-div {
    // width: 1200px;
    // text-align: center;
    // align-content: center;
}