<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main class="etf-container">
        <h3>This will be the ETF page</h3>

        <div class="etf-info-div">
           <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum id numquam pariatur ex, accusamus enim quidem quam recusandae consectetur facere vero cupiditate maiores quod suscipit, eius, necessitatibus harum? Dolores, nemo. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum nam ab vero ullam veritatis iure necessitatibus? Esse saepe officiis corporis distinctio quis magni deserunt asperiores odio quidem, impedit velit et?</p>
           <img src="../../assets/placeholder.jpg" class="etf-img">
        </div>

        
        <div class="search-div">
            <mat-form-field class="search-form-field">
                <input [(ngModel)]="searchKey" (keyup)="applyFilter(search.value)" matInput placeholder="search" autocomplete="off" #search>
                <button (click)="applyClear()" mat-button matSuffix mat-icon-button aria-label="Clear">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>

       <div class="mat-elevation-z8 etf-data-div">
           <mat-table [dataSource]="dataSource" matSort>
               <ng-container matColumnDef="name">
                   <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                   <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
               </ng-container>
               <ng-container matColumnDef="ticker">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Ticker</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.ticker}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="assetClass">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Asset Class</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.assetClass}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="expenseRatio">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Expense Ratio</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.expenseRatio | number}} %</mat-cell>
            </ng-container>
            <ng-container matColumnDef="price">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Price</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.price | currency}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="change">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Change</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.change | currency }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="SEC_yield">
                <mat-header-cell *matHeaderCellDef mat-sort-header>SEC Yield</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.SEC_yield | number}} %</mat-cell>
            </ng-container>
            <ng-container matColumnDef="YTD">
                <mat-header-cell *matHeaderCellDef mat-sort-header>YTD</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.YTD | number}} %</mat-cell>
            </ng-container>
            <ng-container matColumnDef="oneYear">
                <mat-header-cell *matHeaderCellDef mat-sort-header>1-Year</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.oneYear | number}} %</mat-cell>
            </ng-container>
            <ng-container matColumnDef="fiveYear">
                <mat-header-cell *matHeaderCellDef mat-sort-header>5-Year</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.fiveYear | number}} %</mat-cell>
            </ng-container>
            <ng-container matColumnDef="tenYear">
                <mat-header-cell *matHeaderCellDef mat-sort-header>10-Year</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.tenYear | number}} %</mat-cell>
            </ng-container>
            <ng-container matColumnDef="sinceInception">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Since Inception</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.sinceInception | number}} %</mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <button mat-icon-button color="primary"><mat-icon>launch</mat-icon></button>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="loading">
                <mat-footer-cell *matFooterCellDef colspan="6">
                    Loading data.... 
                </mat-footer-cell>
            </ng-container>
               <mat-header-row *matHeaderRowDef="tableConfig"></mat-header-row>
               <mat-row *matRowDef="let row; columns: tableConfig;"></mat-row>
               <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': dataSource !== null}"></mat-footer-row>
           </mat-table>
           <!-- <mat-paginator [pageSizeOptions]="[5,10,25,100]" [pageSize]="10"></mat-paginator> -->
       </div>

       <div class="bottom-container">
           
       </div>
    </main>
</body>
</html>
