@import "/src/styles.scss";

.main-bond {
  // background-color: blue;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

  // flex-wrap: inherit;
}

.bond-info {
  // background-color: red;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
  padding-bottom: 0%;
}

.bond-info-left {
  padding-top: 40px;
  height: 400px;
  width: 400px;
  background-color: white;
  margin-right: auto;
}

.bond-info-right {
  padding-top: 40px;
  height: 400px;
  width: 400px;
  margin-left: auto;
}

hr {
  border-top: 1px dashed gray;
  margin: 2px;
}

p {
  font-family: $pfont;
  font-size: 15px;
  font-weight: bold;
  padding-left: 30px;
  margin: 5px;
}

h1 {
  font-family: $hfont;
  font-size: 40px;
  margin-left: 20px;
  margin-top: 20px;
}

h3 {
  font-family: $hfont;
  color: $rorange;
  padding-left: 10px;
}

.image-one {
  max-height: 100%;
  max-width: 100%;
  padding-top: 70px;
}

.invest-btn {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  color: black;
  background-color: $lorange;
  display: inline-block;
}

.back-btn {
  margin-top: 10px;
  float: right;
}

.bond-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.investment {
  margin-left: auto;
  height: 350px;
  margin-right: auto;
  padding-top: 20px;
  // margin-bottom: 0;
  // padding-bottom: 0px;
  width: 100%;
  border-bottom: 1px solid black;
}

.form-field{
  display: flex;
  flex-direction: column;
  margin: 5px;
  label {
    padding: 0px, 0px, 10px, 10px;
  }
}

.submit {
  width: 100%;
  background-color: $lorange;
  
}

.confirm{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
