<div class="wrapper">
  <div class="welcome__card">
    <h2 @rightFade>Settings</h2>
    <a (click)="logOut()" class="butn" href="/login">Log Out</a>
  </div>
  <div class="Account">
    <ul class="links">
      <li>
        <a href="/account" class="servicelink unselected">Your Insights</a>
        <a href="#" class="servicelink unselected">Portfolio</a>
        <a href="#" class="servicelink unselected">I'm a service link</a>
        <a routerLink="/account/settings" class="servicelink"
          >Account Settings</a
        >
      </li>
    </ul>
    <div class="balance" @bottomFade>
      <div>
        <label for="enableMFA">Enable Multifactor Authentication</label>
        <input type="checkbox" id="enableMFA" />
      </div>

      <div>
        <label for="userIcon">Select User Icon</label>
        <select id="userIcon"></select>
      </div>

      <div>
        <label for="userIcon">Select User Icon</label>
        <select id="userIcon"></select>
      </div>
    </div>
  </div>
</div>
