<div class="wrapper">
  <div class="welcome__card">
    <h2 @rightFade>Settings</h2>
    <a (click)="logOut()" class="butn" href="/login">Log Out</a>
  </div>
  <div class="Account">
    <ul class="links">
      <li>
        <a href="/account" class="servicelink unselected">Your Insights</a>
        <a href="#" class="servicelink unselected">Portfolio</a>
        <a href="#" class="servicelink unselected">I'm a service link</a>
        <a routerLink="/account/settings" class="servicelink"
          >Account Settings</a
        >
      </li>
    </ul>
    <div class="balance" @bottomFade>
      <div>
        <label for="userIcon">Select User Icon</label>
        <button (click)="chooseIcon = !chooseIcon" class=".btn">
          click here to get started
        </button>
      </div>
      <div class="iconWrapper" *ngIf="chooseIcon">
        <div class="icons--box">
          <div class="iconImage" *ngFor="let icon of icons; let i = index">
            <img
              (click)="iconSet(i + 1)"
              [ngClass]="iconVal === i + 1 ? 'activeIcon' : ''"
              src="{{ icon }}"
              class="iconImg"
            />
          </div>
        </div>
        <a class="icon--btn" (click)="iconPost()">Choose</a>
      </div>

      <div>
        <label for="enableMFA">Enable Multifactor Authentication</label>
        <input
          type="checkbox"
          id="enableMFA"
          *ngIf="MFA"
          (click)="MFA = !MFA"
          checked
        />
        <input
          type="checkbox"
          id="enableMFA"
          *ngIf="!MFA"
          (click)="MFA = !MFA"
        />
      </div>
      <div class="input input1" *ngIf="this.MFA">
        <label for="phone">Phone Number</label>
        <br />
        <br />
        <select name="dc" id="dc" [(ngModel)]="this.code">
          <option
            *ngFor="let dialcode of dialcodes"
            [ngValue]="dialcode.dial_code"
          >
            {{ dialcode.code }}
          </option>
        </select>
        <input
          type="text"
          id="phone"
          [(ngModel)]="this.num"
          class="inputbox inputbox--phone"
          required
        />
      </div>

      <div>
        <label for="userIcon">Select User Icon</label>
        <select id="userIcon"></select>
      </div>
    </div>
  </div>
</div>
