@import "../../../styles.scss";
.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.welcome__card {
  height: 12rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: start;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 20.5rem;
    width: 102%;
    z-index: -50;
    background-image: url("./../../../assets/acctbg2.jpg");
    background-size: cover;
    filter: grayscale(20%) blur(0.6px);
  }

  & h2 {
    color: $color--nav;
    font-family: $logo--font;
    font-size: 6rem;
    margin-left: 3rem;
    margin-bottom: 3rem;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
  }
}

.account {
  // background-color: $color--nav;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

ul {
  margin: 0;
  padding: 0;
  width: 100vw;

  display: flex;
  height: 3.3rem;
}

li {
  list-style: none;
}

.servicelink {
  text-decoration: none;
  font-size: 2rem;
  font-family: $text--font;
  background-color: white;
  padding: 1rem 2rem;
  border-bottom: 0.1rem solid white;

  &:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.226);
  }
}

.activeService {
  background-color: $dorange;
  border-bottom: 0.1rem solid $dorange;
  color: white;
}

.unselected {
  background-color: rgb(214, 214, 214);
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.226);
  color: $dorange;
}

.balance {
  width: 100vw;
  min-height: 45vh;
  max-height: auto;
  position: absolute;
  font-family: $logo--font;
  font-size: 2.5rem;
  padding-top: 4rem;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    min-height: 45vh;
    background-image: linear-gradient(to bottom, $dorange, #c854026e, white);
    transform: translateY(-4rem);
    z-index: -1;
    animation: none;
  }
  display: flex;

  // &::after {
  //   content: "";
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   top: 21rem;
  //   z-index: -2;
  //   left: 0;
  // }
}

.butn {
  text-decoration: none;
  font-family: $logo--font;
  font-size: 2rem;
  padding: 0.6rem 1.4rem;
  background-color: $color--dark;
  color: white;
  align-self: flex-start;
  justify-self: space-between;
  border: 1px $color--dark solid;
  border-radius: 1.12rem;
  margin-left: auto;
  margin-right: -1;
  margin-right: 4rem;
  margin-top: 2rem;

  &:hover {
    background-color: azure;
    color: $color--dark;
    transform: translateY(-2px);
    size: 1.2;
    transition: all 0.25s;
    cursor: pointer;
  }

  &:active {
    transform: translateY(0.5px);
    background-color: $color--dark;
    color: $color--light;
    size: 1;
    cursor: pointer;
  }
}

.iconWrapper {
  width: 40rem;
  height: 40rem;
  padding: 3rem 2rem;
  padding-left: 4rem;
  margin-left: 2rem;
  border: 1px solid $lgrey;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.icons--box {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
}

.iconImage {
  flex: 0 0 25%;
}

.iconImg {
  border-radius: 50%;
  height: 8rem;
  padding: 1rem 1rem;
  &:focus,
  &:active {
    background-color: rgb(133, 200, 133);
  }
}

.activeIcon {
  background-color: rgb(133, 200, 133);
}

.icon--btn {
  font-size: 2rem;
  padding: 0.7rem 1.4rem;
  background-color: $color--dark;
  color: white;
  border: 1px $color--dark solid;
  align-self: flex-end;
  margin-right: 3rem;
  border-radius: 1rem;
  &:hover {
    background-color: white;
    color: $color--dark;
    size: 1.1;
    cursor: pointer;
  }
  &:active {
    transform: translateY(2px);
    transition: all 0.2s;
    cursor: pointer;
  }
}

.boxy {
  margin-left: 15rem;
  background-color: white;
  height: auto;
  border-radius: 5px;
  width: 50rem;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.329);
}

.icon--switch,
.MFA--box,
.input {
  margin-left: 4rem;
}

.icon--switch {
  margin-top: 3rem;
}

.iconWrapper {
  margin-top: 2rem;
}
.selectbtn {
  size: 0.7;
  margin-left: 2rem;
}

.MFA--box {
  margin-top: 1rem;
}

.submit {
  margin-top: 2rem;
  margin-left: 28rem;
  margin-bottom: 4rem;
}

.balanceinp {
  margin-left: auto;
  margin-right: 1rem;
}

#balance {
  size: 2rem;
  height: 3rem;
  width: 10rem;
}
