@import "../../../styles.scss";

body::before{
    content: "";
    width: 100vw;
    height: 45vh;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, $dorange, white);
    z-index: -10;
}
.main-bond{
    // background-color: blue;

    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    
    // flex-wrap: inherit;
}
title{

    color: $color--dark;
    font-family: $tfont;
    align-items: center;
    font-size: 3.5rem;
    margin-top: 4rem;
    flex-direction: column;
    display: flex;
    resize: both;
    margin-bottom: 1rem;
    
  }
.bond-info {
    align-items: center;
    position: relative;
    // background-color: red;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
}

.bond-info-left {
    position: absolute;
    padding-top: 20px;
    height: 414px;
    width: 400px;
    background-color: white;
    margin-right: auto;
    border-bottom: 1px solid black;
}

.bond-info-right {
    position: absolute;
    padding-top: 20px;
    height: 414px;
    width: 400px;
    // background-color: black;
    padding-right: 10px;
    
    margin-left: auto;
    resize: auto;
    border-bottom: 1px solid black;

}
button{
    cursor: pointer;
}
hr {
    border-top: 1px dashed gray;
    margin: 2px;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding-left: 30px;
    margin: 5px;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    padding-left: 40px;
}

h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    color: orange;
    padding-left: 10px;
}

.image-one {
    max-height: 100%;
    max-width: 100%;
    margin-bottom: 2rem;
    
}

.invest-btn {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    background-color: $lorange;
    display: inline-block;
}

.invest-btn:hover{
    background-color: white;
    color: $color--dark;
    transform: translateY(-2px);
    transition: all 0.3s;
    transform: scale(1.05);
}

.invest-btn:active{
    background-color: $color--dark;
    color: white;
    transform: translateY(2px);
    transition: all 0.2s;
}
.back-btn {
    margin-top: 10px;
    float: right;
}

.invest-delete{

    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin-top: 3rem;
    margin-bottom: 5px;
  
  
  }
  .invest-delete div{
    position: absolute;
    background: black;
    color: white;
    margin-bottom: 5px;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
   }
  
   .invest-delete:hover{
    cursor: pointer;
   }
  
   .invest-delete:hover div{
    position: absolute;
    width: 125px;
    left: 28%;
    bottom: -75%;
    height: 15px;
    float: bottom;
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.7; 
    z-index: 3;
   }

   .investImg{
    position: relative;
    cursor: pointer;
    padding: 0.5rem 1rem;
    background-color: $color--dark;
    color: white;
    border: 1px solid $color--dark;
    border-radius: 5px;
    font-size: 2.5rem;
    align-self: center;
  }
  
  
  .investImg:hover{
    
    background-color: white;
    color: $color--dark;
    transform: translateY(-2px);
    transition: all 0.3s;
    transform: scale(1.05);

  }

.investImg:active{
    background-color: $color--dark;
    color: white;
    transform: translateY(2px);
    transition: all 0.2s;
}