
<div class="main">
    <div class="leftcontainer">
        <img class="picture" src="{{consultant.picture}}">
        <div class="averagerating">
        <h1>{{consultant.name}}</h1>
        </div>
        <h4><a href="mailto:{{consultant.email}}">{{consultant.email}}</a></h4>
       <div class="averagerating">
            <div class="bar">
                <div class="rating five">
                    <p style="text-align:left;">
                        5&nbsp;stars
                    </p>
                </div>
            </div>
            <div class="bar">
                <div class="rating four">
                    <p style="text-align:left;">
                        4&nbsp;stars
                    </p>
                </div>
            </div>
            <div class="bar">
                <div class="rating three">
                    <p style="text-align:left;">
                        3&nbsp;stars
                    </p>
                </div>
            </div>
            <div class="bar">
                <div class="rating two">
                    <p style="text-align:left;">
                        2&nbsp;stars
                    </p>
                </div>
            </div>
            <div class="bar">
                <div class="rating one">
                    <p style="text-align:left;">
                        1&nbsp;star
                    </p>
                </div>
            </div>
       </div>
    </div>
    <div class="rightcontainer">
        <h1 *ngIf="noReviews">No reviews yet. Leave one below!</h1>
        <h1 *ngIf="yesReviews">Expereience with this consultant? Leave a review below!</h1>\
        <div *ngIf='loggedinCheck' class="textandsubmit">
            <textarea [(ngModel)]= 'text' type='text' class="textbox"></textarea>
            <div class="ratingSubmit">
                <a *ngFor="let item of starList; let i=index " (click)="setStar(i)">  
                    <i class="fa" [ngClass]="{'fa-star-o':item,'fa-star':!item}"></i>   
                </a> <br>
                <button (click)="postReview()">Submit Review</button>
            </div>
        </div>
        <div *ngIf='loggedoutCheck'>
            <h2>If you would like to leave a review, please log in!</h2>
            <button routerLink= "/login" >
                Login
            </button>
        </div>
        <table *ngIf="reviewsTable" >
            <th>
                Ratings
            </th>
            <th>
                Reviews
            </th>
            <tr *ngFor="let review of reviews">
                <td class="stars">
                    <ng-container *ngFor="let review of reviews.constructor(review.rating)">
                        <i class="fa fa-star">
                        </i>
                    </ng-container>
                </td>
                <td>
                    {{review.text}}
                </td>
            </tr>
        </table>
    </div>
</div>
