<div class="bonds">
    <!-- <p>bonds</p> -->
    <div class="bonds-left">
        <!-- <img class="bonds-left-img" src="../assets/beige.jpg"
         alt="sharedgoalspic"> -->
    </div>
    <div class="bonds-right">
        <h1 class="bonds-title"> Buy a Corporate Bond </h1>
        <ul class="bonds-list">
            <li> Learn about about Corporate Bonds. </li>
            <li> Pick from a selection of NYSE Bonds. </li>
            <li> Get Advice from the Pro's </li>
            <li> Start diversifying your portfolio. </li>
        </ul>
        <button mat-raised-button class="bond-btn" routerLink="/bonds">
            <!-- <a routerLink= "/bonds"> -->
                Get Started
            <!-- </a> -->
        </button>
    </div>
</div>