<div class="main">
    <div class="title">
        <h1>Investing Basics</h1>
        <div class="subtitle">
            <div class="left">
                <div class="left-text">
                    <h2> The foundation of your financial journey</h2>
                    <h4> What you need to know to get started. </h4>
                </div>
            </div>
            <div class="right">
                <img src="./assets/undraw_teaching_re_g7e3.svg" alt="teaching">
            </div>
        </div>
    </div>
    <div class="secondblock">
        <div class="secondblock-content">
            <h2> Investing 101 </h2>
            <h4> A good place to start.</h4>
            <h4> Get the low-down before you dive in.</h4>
        </div>
    </div>
    <div class="card-block">
        <mat-card class="example-card">
            <mat-card-header>
              <!-- <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
            </mat-card-header>
            <img mat-card-image src="./assets/undraw_pie_graph_re_fvol.svg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="example-card">
            <mat-card-header>
              <!-- <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
            </mat-card-header>
            <img mat-card-image src="./assets/undraw_accept_tasks_re_09mv.svg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="example-card">
            <mat-card-header>
              <!-- <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
            </mat-card-header>
            <img mat-card-image src="./assets/undraw_knowledge_re_leit.svg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>

    </div>

</div>