<div class="main">
    <div class="title">
        <h1>Investing Basics</h1>
        <div class="subtitle">
            <div class="left">
                <div class="left-text">
                    <h2> The foundation of your financial journey</h2>
                    <h4> What you need to know to get started. </h4>
                </div>
            </div>
            <div class="right">
                <img src="./assets/undraw_teaching_re_g7e3.svg" alt="teaching">
            </div>
        </div>
    </div>
    <div class="secondblock">
        <div class="secondblock-content">
            <h2> Investing 101 </h2>
            <h4> A good place to start.</h4>
            <h4> Get the low-down before you dive in.</h4>
        </div>
    </div>
    <div class="card-block">
        <mat-card class="example-card">
            <mat-card-header>
              <!-- <div mat-card-avatar class="example-header-image"></div> -->
              <mat-card-title>Investing</mat-card-title>
              <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
            </mat-card-header>
            <img class="card-images" mat-card-image src="./assets/undraw_pie_graph_re_fvol.svg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                An investment is an asset bought with the expectation that it will generate 
                some future income or profit.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LEARN MORE</button>
              <!-- <button mat-button>SHARE</button> -->
            </mat-card-actions>
          </mat-card>
          <mat-card class="example-card">
            <mat-card-header>
              <!-- <div mat-card-avatar class="example-header-image"></div> -->
              <mat-card-title>Stocks, Bonds, + ETFs</mat-card-title>
              <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
            </mat-card-header>
            <img class="card-images" mat-card-image src="./assets/undraw_accept_tasks_re_09mv.svg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                While stocks, bonds, and etf's share the same basic idea of generating a future income or profit, 
                your investment strategy may determine which is best for you.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LEARN MORE</button>
              <!-- <button mat-button>SHARE</button> -->
            </mat-card-actions>
          </mat-card>
          <mat-card class="example-card">
            <mat-card-header>
              <!-- <div mat-card-avatar class="example-header-image"></div> -->
              <mat-card-title>Your Portfolio</mat-card-title>
              <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
            </mat-card-header>
            <img class="card-images" mat-card-image src="./assets/undraw_authentication_re_svpt.svg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Your portfolio outlines all your investment assests and helps you formulate a plan
                in-line with your longterm goals.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LEARN MORE</button>
              <!-- <button mat-button>SHARE</button> -->
            </mat-card-actions>
          </mat-card>

    </div>

</div>