<div *ngIf="redir" class="container">
  <div class="loginbox" @bottomFade>
    <h2 class="loginbox--header">Let's Get All Of Our Ducks in a Row</h2>
    <div class="input input2 mfa--div">
      <label for="MFA" class="mfa--label">ENABLE MFA</label>
      <input
        type="checkbox"
        id="MFA"
        [checked]="enableMFA"
        (change)="enableMFA = !enableMFA"
        class="mfa--box"
      />
    </div>
    <div class="input input1" *ngIf="this.enableMFA">
      <label for="phone">Phone Number</label>
      <br />
      <br />
      <select name="dc" id="dc" [(ngModel)]="this.code">
        <option
          *ngFor="let dialcode of dialcodes"
          [ngValue]="dialcode.dial_code"
        >
          {{ dialcode.code }}
        </option>
      </select>
      <input
        type="text"
        id="phone"
        [(ngModel)]="this.num"
        class="inputbox inputbox--phone"
        required
      />
    </div>
    <div class="input input2">
      <label for="investment">Money to Transfer</label>
      <br />
      <br />
      <input
        type="text"
        id="investment"
        [(ngModel)]="accountObj.money"
        class="inputbox"
        required
      />
    </div>
    <div class="submit">
      <a (click)="postMe()" class="btn"> Submit</a>
    </div>
  </div>
</div>

<div *ngIf="accountDis" class="wrapper">
  <div class="welcome__card">
    <img
      src="{{ this.profPic }}"
      alt="user--icon"
      class="userIcon"
      @rightFade
    />
    <h2 @rightFade>Hello, {{ this.name }}</h2>
    <a (click)="logOut()" class="butn" href="/login">Log Out</a>
  </div>
  <div class="Account">
    <ul class="links">
      <li>
        <a href="" class="servicelink activeService">Your Insights</a>
        <a routerLink="/account/settings" class="servicelink unselected"
          >Account Settings</a
        >
      </li>
    </ul>
    <div class="balance">
      <div class="money">
        Your Balance Today: {{ this.balance }}
        <a *ngIf="!flaggy" class="btn" (click)="flaggy = !flaggy">+</a>
        <a *ngIf="flaggy" class="btn" (click)="postBal(); flaggy = !flaggy"
          >add</a
        >
        <div class="balanceinp" *ngIf="flaggy">
          <input [(ngModel)]="add" type="number" name="balance" id="balance" />
        </div>
      </div>
      <div></div>
    </div>
  </div>
</div>
