body{
    background-image: url('/assets/bgCEF.jpg'); 
    margin: 0;
    height: 100vh;
    padding-bottom: 20px;
    overflow-x: hidden; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.fundsedit{
    justify-content: center;
    display: flex;
}

.center{
    display: block;
    width: 1000px;
    margin-top: 20px;


}

label{
    font-size: 28px;
    font-weight: bolder;
}

input {
    font-size : 1.5em;
    width: 50%;
    background-color: rgb(0, 0, 0);
}

#text{
    font-weight: bolder;
    color: rgb(255, 255, 255);
    display : flex;
    flex-direction: column;
    align-items: center;
}

#inputText{
    font-weight: 500;
    color: rgb(209, 160, 27);
    display : flex;
    flex-direction: column;
    align-items: center;
}


#wrapper
{
 padding:0px;
 text-align:center;
 height: 40px;
 width: 122px;	
 color: rgb(236, 17, 17);
 margin: 10px 10px 10px 10px;
 font-size: 18px;
 border: 2px solid rgb(243, 5, 5);
 
}
#wrapper h1
{
 margin-top:50px;
 font-size:45px;
 color:#5e4634;
}
#wrapper h1 p
{
font-size:18px;
}
#button_div input[type="button"]
{
 background-color:none;
 width:120px;
 height:50px;
 margin:20px;
 font-size:17px;
 color:white;
 border:none;
}

#button_div .shadow
{
 background-color:#000000;
 transition: all 0.35s ease;
 border-radius:5px;
}
#button_div .shadow:hover
{
 border: 1px solid #b7110b;
 background-color:white;
 color:#B7950B;
 box-shadow:0px 0px 25px 0px #B7950B;
}