<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main class="etf-container">
      <h3>This will be the ETF page</h3>

      <div class="etf-info-div">
        <div>
          <p>
            accusamus enim quidem quam recusandae consectetur facere vero
            cupiditate maiores quod suscipit, eius, necessitatibus harum?
            Dolores, nemo. Lorem ipsum dolor sit amet consectetur, adipisicing
            elit. Eum nam ab vero ullam veritatis iure necessitatibus? Esse
            saepe officiis corporis distinctio quis magni deserunt asperiores
            odio quidem, impedit velit et?
          </p>
          <button mat-raised-button class="etf-button" (click)="openDialog()">
            What is an ETF
          </button>
          <!-- <button mat-raised-button class="etf-button">BUTTON</button> -->
        </div>
        <img src="../../assets/undraw_investment_xv-9-d.svg" class="etf-img" />
      </div>

      <div class="search-div">
        <mat-form-field class="search-form-field">
          <input
            [(ngModel)]="searchKey"
            (keyup)="applyFilter(search.value)"
            matInput
            placeholder="search"
            autocomplete="off"
            #search
          />
          <button
            (click)="applyClear()"
            mat-button
            matSuffix
            mat-icon-button
            aria-label="Clear"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="mat-elevation-z8 etf-data-div">
        <mat-table
          [dataSource]="this.dataSource | paginate: config"
          matSort
          (matSortChange)="announceSortChange($event)"
        >
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header
              >ID</mat-header-cell
            >
            <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="fund_symbol">
            <mat-header-cell *matHeaderCellDef mat-sort-header
              >Ticker</mat-header-cell
            >
            <mat-cell *matCellDef="let element"
              ><b>{{ element.fund_symbol }}</b></mat-cell
            >
          </ng-container>
          <ng-container matColumnDef="fund_long_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header
              >Fund Long Name</mat-header-cell
            >
            <mat-cell *matCellDef="let element">{{
              element.fund_long_name
            }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="fund_family">
            <mat-header-cell *matHeaderCellDef mat-sort-header
              >Fund Family</mat-header-cell
            >
            <mat-cell *matCellDef="let element">{{
              element.fund_family
            }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="total_net_assets">
            <mat-header-cell *matHeaderCellDef mat-sort-header
              >Total Net Assets</mat-header-cell
            >
            <mat-cell *matCellDef="let element">{{
              element.total_net_assets
            }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="fund_yield">
            <mat-header-cell *matHeaderCellDef mat-sort-header
              >Fund Yield</mat-header-cell
            >
            <mat-cell *matCellDef="let element"><div *ngIf="element.fund_yield">
              {{ element.fund_yield | number }} %
            </div></mat-cell>
          </ng-container>
          <ng-container matColumnDef="fund_annual_report_net_expense_ratio">
            <mat-header-cell *matHeaderCellDef mat-sort-header
              >Annual Net Expense Ratio</mat-header-cell
            >
            <mat-cell *matCellDef="let element"
              ><div *ngIf="element.fund_annual_report_net_expense_ratio">
                {{ element.fund_annual_report_net_expense_ratio | number }} %
              </div>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="category_return_ytd">
            <mat-header-cell *matHeaderCellDef mat-sort-header
              >Category Return YTD</mat-header-cell
            >
            <mat-cell *matCellDef="let element"
              ><div *ngIf="element.caegory_return_ytd">
                {{ element.category_return_ytd | number }} %
              </div>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="fund_return_ytd">
            <mat-header-cell *matHeaderCellDef mat-sort-header
              >Fund Return YTD</mat-header-cell
            >
            <mat-cell *matCellDef="let element"
              ><div *ngIf="element.fund_return_ytd">
                {{ element.fund_return_ytd | number }} %
              </div>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="week52_high_change">
            <mat-header-cell *matHeaderCellDef mat-sort-header
              >WK 52 High Change</mat-header-cell
            >
            <mat-cell *matCellDef="let element"
              ><div *ngIf="element.week52_high_change">
                {{ element.week52_high_change | number }} %
              </div>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="week52_low_change">
            <mat-header-cell *matHeaderCellDef mat-sort-header
              >WK 52 Low Change</mat-header-cell
            >
            <mat-cell *matCellDef="let element"
              ><div *ngIf="element.week52_low_change">
                {{ element.week52_low_change | number }} %
              </div>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="inception_date">
            <mat-header-cell *matHeaderCellDef mat-sort-header
              >Since Inception</mat-header-cell
            >
            <mat-cell *matCellDef="let element"
              >{{ element.inception_date }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="exchange_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header
              >Exchange Name</mat-header-cell
            >
            <mat-cell *matCellDef="let element"
              >{{ element.exchange_name }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <button
                (click)="openSingleETF(element)"
                class="launch"
                mat-icon-button
                color="primary"
              >
                <mat-icon>launch</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="6">
              Loading data....
            </mat-footer-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="tableConfig"></mat-header-row>
          <mat-row *matRowDef="let row; columns: tableConfig"></mat-row>
          <mat-footer-row
            *matFooterRowDef="['loading']"
            [ngClass]="{ hide: dataSource != null }"
          ></mat-footer-row>
        </mat-table>
        <!-- <mat-paginator
          [pageSizeOptions]="[5, 10, 25, 100]"
          [pageSize]="5"
          showFirstLastButtons
        ></mat-paginator> -->
        <pagination-controls
          (pageChange)="pageChanged($event)"
        ></pagination-controls>
      </div>

      <div class="bottom-container"></div>
    </main>
  </body>
</html>
