@import "../../styles.scss";

body {
  font-size: 1.4rem;
}

.etf-container {
  min-height: max-content;
  height: auto;
  width: 100vw;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  &::before {
    content: "";
    width: 100%;
    height: 45vh;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, $dorange, white);
    z-index: -10;
  }
}

.hide {
  display: none;
}

table {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

th {
  background-color: #da935b !important;
}

th.mat-header-cell,
td.mat-cell {
  justify-content: center !important;
  vertical-align: middle !important;
  text-align: center !important;
}

td {
  padding-left: 9px;
  padding-right: 9px;
}

td:first-child {
  padding-left: 0;
}

td:last-child {
  padding-right: 0;
}

.etf-info-div {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: auto;
  width: 60vw;
  padding: 10px;
}

.title-div {
  color: $color--dark;
  font-family: $tfont;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.301);
  width: 500px;
  align-self: center;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 1rem;
}

.info-text-box {
  width: 50%;
}

h1 {
  margin: 0;
  padding: 0;
}

.etf-img {
  width: 50%;
  height: 300px;
  margin-left: 2rem;
  margin-right: -1rem;
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search-div {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-left: 10%;
}

.bottom-container {
  padding-top: 50px;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  // cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.etf-button {
  margin: 5px;
  background-color: #da935b;
}

.etf-button:hover {
  background-color: whitesmoke;
}

.launch:hover {
  color: whitesmoke;
  background-color: #da935b;
}

.space-div {
  margin-top: 50px;
}

pagination-controls {
  align-self: flex-end;
  margin-right: 5%;
}
