@import "/src/app/mutual_funds_content/mutual_funds_display/mutual-funds/mutual-funds.component.scss";

.sticky {
    position: sticky;
    top: 0%;
    background-color: white;
    // border-top-left-radius: 10px;
    // border-top-right-radius: 10px;
}

.sticky-two {
    position: sticky;
    top: 5.5em;
}

.sticky-three {
    position: sticky;
    top: 5.6em;
}

table {
    width: 100%;
}

.table-border {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.table-components {
    padding: 10px;
}

.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
}
  
.mat-row:hover .mat-cell {
    border-color: currentColor;
    background-color: rgb(235, 235, 253);
}

.mat-column-changePrice {
    text-align: right;
    justify-content: flex-end;
}

.pricePercent {
    color: rgb(92, 92, 92)
}