<div class="retirement">
    <div class="retire-left">
        <img class="retirement-img" src="./assets/undraw_calculator_re_jy39.svg" alt="retirementImg">
        
    </div>
    <div class="retire-right">
        <h1> Keep Tabs on Retirement </h1>
        <p> 
            Check out our retirement calculator and learn what 
            you need to do in order to save comfortably. Learn different
            ways to invest in retirement and get started saving!
        </p>
        <button mat-raised-button class="retire-btn" routerLink="/retcalc">
            Let's Go
        </button>
    </div>

</div>