body {
    color: #797979;
    background: #f1f2f7;
    font-family: 'Open Sans', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size: 13px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

.purchase{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h5{

    font-size: 32px;
    font-weight: bolder;
}


#gridContainer {

    position: relative;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 0.2fr));
    grid-auto-rows: 0.2fr;
    grid-gap: 10px;
    font-size: 16px;

    align-items: center;
	flex-direction: row;
	justify-content: center;
    height: 800px; 

}

#text{
    font-weight: 900;
    font-family: "Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
}
a { 
    text-decoration: none; 
    color: rgb(212, 240, 57);
}

//Loan Boxes
#gridContainer > div {
    border: 2px solid rgb(243, 5, 5);
    background-color: rgb(1, 2, 1);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    width: 170px;
    height: 65px;
    z-index: 2;
}

#gridContainer > div:hover {
    background-color: rgb(3, 78, 128);

}


#loans {
    text-align: center;
    margin-bottom: 5px;


}
#wrapper
{
 margin:0 auto;
 padding:0px;
 text-align:center;
 height: 35px;
 width:55px;	
}
#wrapper h1
{
 margin-top:50px;
 font-size:45px;
 color:#34495E;
}
#wrapper h1 p
{
font-size:18px;
}
#button_div input[type="button"]
{
 background-color:none;
 width:120px;
 height:50px;
 margin:20px;
 font-size:17px;
 color:white;
 border:none;
}

#button_div .shadow
{
 background-color:#d83131;
 transition: all 0.35s ease;
 border-radius:5px;
}
#button_div .shadow:hover
{
 border: 1px solid #B7950B;
 background-color:rgb(255, 255, 255);
 color:#B7950B;
 box-shadow:0px 0px 25px 0px #B7950B;
}
span{
    color:orange;
    font-weight: bolder;
} 