.etf-investment-container {
  min-height: max-content;
  height: 100%;
  width: 1400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 120px;
  transform: translate(-50%, -50%);
  align-content: center;
  text-align: center;
}

.investment-img {
  width: 400px;
  margin-left: 100px;
}

.investment-window {
  display: flex;
  flex-direction: row;
  margin-top: 200px;
  position: absolute;
}

.investment-table {
  text-align: center;
  position: relative;
  left: 25%;
  top: 30%;
  margin-top: 180px;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1300px;
}

.investment-top-div {
  width: 500px;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  align-content: center;
  text-align: center;
}

th {
  background-color: #da935b;
  color: black;
}

th.mat-header-cell,
td.mat-cell {
  justify-content: center !important;
  vertical-align: middle !important;
  text-align: center !important;
}

td {
  padding-left: 9px;
  padding-right: 9px;
}

td:first-child {
  padding-left: 0;
}

td:last-child {
  padding-right: 0;
}

.mat-cell {
  text-align: center;
  justify-content: center;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  // cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: black;
}

button {
  margin: 5px;
  background-color: #051c55;
  color: white;
}

button:hover {
  background-color: whitesmoke;
  color: black;
}

.back-btn {
  background-color: #da935b;
  color: black;
}

.back-btn:hover {
  color: black;
}

.hide {
  display: none;
}
