<body class = "center" *ngIf = "buyBought && signedIn">
    <h1 mat-dialog-title>Invest in {{data.stock.name}}?</h1>
    <div class = "center">
        <h2>How many shares would you like to buy?</h2>
        <input matInput type="number" [(ngModel)] = 'purchaseAmount'>
    </div>

    <div mat-dialog-action>
        <button mat-button (click) = "cancel()">Cancel</button>
        <button mat-button (click) = "makeInvestment(data.stock)">Purchase</button>
    </div>
</body>

<body class = "center" *ngIf = "!buyBought && signedIn">
    <h1 mat-dialog-title>Congratulations!</h1>
    <h2> You Purchased {{purchaseAmount}} shares of {{data.stock.name}} for a total of ${{totalAmount}}</h2>
    <h2>Thank you for your purchase you may look at Investments to see your stock investments.</h2>

    <div mat-dialog-action>
        <button mat-button (blur) = "cancel()" (click) = "cancel()">Done</button>
    </div>
</body>

<body class = "center" *ngIf = "!signedIn && buyBought">
    <h1 mat-dialog-title>You need to Sign In or Register</h1>
    
    <div mat-dialog-action>
        <button mat-button (click) = "goToLogin()">Sign In or Register</button>
        <button mat-button (click) = "cancel()">Back to Stocks</button>
    </div>
</body>
