@import "/src/styles.scss";

.center {
    display: flex;
    flex-direction: column;
    flex-wrap: inherit;
    align-items: center;
}
h1 {
    text-align: center;
    font-family: $tfont;
}
h2 {
    text-align: center;
    font-family: $hfont;

}
button {
    font-family: $pfont;
}
button:hover {
    background-color: $lgrey;
}
