@import "/src/styles.scss";
.locations-div {
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.map-div {
  width: 70%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 12px;
  box-sizing: border-box;
}

.table-div {
  width: 30%;
}

.table-div2 {
    width: 30%;
    text-align: center;
    font-family: $pfont;
}

.toph1 {
    text-align: center;
    font-family: $tfont;
    font-size: x-large;
}

a {
  color: $rorange;
  text-decoration: none;
  font-size: large;
  font-family: $hfont;
}

a:hover {
  color: $dorange;
}

td {
    padding-bottom: 10px;
}



google-chart {
    cursor: pointer;
}


