@import "/src/styles.scss";
.locations-div {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.map-div {
  width: 70%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 12px;
  box-sizing: border-box;
}

.table-div {
  width: 30%;
}

a {
  color: $rorange;
  text-decoration: none;
  font-size: larger;
  font-family: "Trebuchet MS", "Lucida Sans Unicod$dorangee", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

a:hover {
  color: $dorange;
}

td {
  padding-bottom: 10px;
}
