@import "/src/styles.scss";

.dialogBox {
    width: auto;
    height: auto;
    font: $pfont;
}

h1 {
    color: $dorange;
    font: $hfont;
}

mat-dialog-content {
    font: $pfont;
    font-size: 1.5rem;
}

.closeButton {
    background-color: $lorange;
    font: $hfont;

    &:hover {
        background-color: whitesmoke;
    }
}
