<!-- <h1> Meet our Team!</h1> -->
<div class="main">
    <mat-card class="example-card">
        <mat-card-header>
            <!-- <div mat-card-avatar class="example-header-image"></div> -->
            <mat-card-title>Matthew Tatum</mat-card-title>
            <mat-card-subtitle>Full-Stack Developer</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="./assets/20220207-DSC04659.jpg" alt="Matthew Tatum">
        <mat-card-content>
            <p>
                Matthew T. is a full stack developer who focuses on stock and stock investments. 
                He worked on the front end experience as well as build the backend microservice 
                using JavaScript, Angular, Express, Node JS and Postgres. He loves climbing and lacrosse.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button class="linkedin-btn"> <a href="https://www.linkedin.com/in/matthewtatum/">
                <img class="linkedin" src="./assets/linkedin.png" alt="LinkedIn"></a>
            </button>
            <button mat-button class="github-btn"> <a href="https://github.com/matttatum97">
                <img src="./assets/GitHub-Mark-32px.png" alt="Github"></a>
            </button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <mat-card-title>Jabair Khan</mat-card-title>
          <mat-card-subtitle>Full-Stack Developer</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="./assets/E28B39B0-21E0-4521-BF6E-6A4DA85F95B5.JPEG" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Jabair is a full-stack software engineer with experience in JavaScript, Angular, React, Node.js, Ruby on Rails, Postgres, 
            HTML and CSS. In this project he developed the Bonds microservice and front-end components for Learn, Who we are, Bonds, and 
            the Homepage. In his free time he enjoys creating music, playing and watching baseball + football, and spending time with his 8 year-old 
            dachshund, Penny Longbottom.  
          </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button class="linkedin-btn"> <a href="https://www.linkedin.com/in/jabairkhan/">
                <img class="linkedin" src="./assets/linkedin.png" alt="LinkedIn"></a>
              </button>
            <button mat-button class="github-btn"> <a href="https://github.com/jabair14">
                <img src="./assets/GitHub-Mark-32px.png" alt="Github"></a>
              </button>
          </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <mat-card-title>Francesko Racaku</mat-card-title>
          <mat-card-subtitle>Full-Stack Developer</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="./assets/franchesko.jpg" alt="Matthew Tatum">
        <mat-card-content>
          <p>
            Francesko is experienced in object-oriented programming, developing, testing, and debugging code, 
            as well as designing interfaces.  Great knowledge in programming language such as JavaScript, JAVA and Python.
            Fun fact, I still watch Tom & Jerry whenever my niece/nephew watches it.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button class="linkedin-btn"> <a href="https://www.linkedin.com/in/francesko-racaku-abb81815b/">
              <img class="linkedin" src="./assets/linkedin.png" alt="LinkedIn"></a>
            </button>
          <button mat-button class="github-btn"> <a href="https://github.com/FranceskoRacaku">
              <img src="./assets/GitHub-Mark-32px.png" alt="Github"></a>
            </button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <mat-card-title>Evan Tyo</mat-card-title>
          <mat-card-subtitle>Full-Stack Developer</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="./assets/Evan.jpg" alt="Matthew Tatum">
        <mat-card-content>
          <p>
            Evan is an aspiring software developer with a focus on full-stack web development.  
            He worked on mutual funds and mutual funds investments, building backend microservices, databases, 
            and front-end associations & styling.  In his free time, Evan enjoys buying board games he'll never 
            get to play and enjoying time out with friends.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button class="linkedin-btn"> <a href="https://www.linkedin.com/in/evan-tyo/">
              <img class="linkedin" src="./assets/linkedin.png" alt="LinkedIn"></a>
            </button>
          <button mat-button class="github-btn"> <a href="https://github.com/EvanTyo">
              <img src="./assets/GitHub-Mark-32px.png" alt="Github"></a>
            </button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>Megan Marchetti</mat-card-title>
        <mat-card-subtitle>Full-Stack Developer</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="./assets/megan.jpg" alt="Matthew Tatum">
      <mat-card-content>
        <p>
          Megan Marchetti is a creative and insightful full stack engineer who recently graduated with a Bachelor’s 
          degree in Computer Science. She offers experience in data analysis and programming technologies, 
          including Angular, SQL, HTML/CSS, Python, SAS, and JavaScript. Holds certifications in Amazon Web Services 
          and SAS for Data Analytics. She was responsible for the home page design, overall website styling, and 
          retirement account value calculator. She has a passion for dance choreography and performance, and has a 
          special place in her heart for homemade potato gnocchi.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button class="linkedin-btn"> <a href="https://www.linkedin.com/in/meganmarchetti/">
            <img class="linkedin" src="./assets/linkedin.png" alt="LinkedIn"></a>
          </button>
        <button mat-button class="github-btn"> <a href="https://github.com/meganmarchetti">
            <img src="./assets/GitHub-Mark-32px.png" alt="Github"></a>
          </button>
      </mat-card-actions>
    </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <mat-card-title>Omaid Karimi</mat-card-title>
          <mat-card-subtitle>Full-Stack Developer</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="./assets/omaid.jpg" alt="Matthew Tatum">
        <mat-card-content>
          <p>
            Omaid Karimi is an innovative full stack web developer with experience in technologies like Angular, React, Nodejs, 
            Express, MongoDB, DynamoDB, PostgreSQL. Comfortable with HTML and CSS/SASS so works well with front and back end design. 
            He was responsible for the user functionality including: login, registration, email verification, cookie creation, 
            phone multifactor authentication, and all authentication routes so users can log into their personal accounts. 
            He's an internationally ranked west coast swing dancer, and loves board games.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button class="linkedin-btn"> <a href="https://www.linkedin.com/">
              <img class="linkedin" src="./assets/linkedin.png" alt="LinkedIn"></a>
            </button>
          <button mat-button class="github-btn"> <a href="https://github.com/inbiii">
              <img src="./assets/GitHub-Mark-32px.png" alt="Github"></a>
            </button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <mat-card-title>Cody Bonsma</mat-card-title>
          <mat-card-subtitle>Full-Stack Developer</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="./assets/Picture - Cody Bonsma.jpg" alt="Matthew Tatum">
        <mat-card-content>
          <p>
            Full Stack developer who designed and built the ETF page which allows users to browse funds and make investments.
            He also created a supporting microservice with Node.JS and Express that is connected to a Postgres database. Outside of work, 
            Cody can be found outdoors, practicing improv and martial arts.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button class="linkedin-btn"> <a href="https://www.linkedin.com/in/codybonsma/">
              <img class="linkedin" src="./assets/linkedin.png" alt="LinkedIn"></a>
            </button>
          <button mat-button class="github-btn"> <a href="https://github.com/CodyBonsma">
              <img src="./assets/GitHub-Mark-32px.png" alt="Github"></a>
            </button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <mat-card-title>Lee Michaeli</mat-card-title>
          <mat-card-subtitle>Full-Stack Developer</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="./assets/lee.png" alt="Matthew Tatum">
        <mat-card-content>
          <p>
            Hi, I'm Lee. I made the locations and consultants page. Letting the user navigate locations and leave reviews 
            for consultants. Created three microservices. Fun fact: I got my drivers license bc I'm tall.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button class="linkedin-btn"> <a href="https://www.linkedin.com/in/meganmarchetti/">
              <img class="linkedin" src="./assets/linkedin.png" alt="LinkedIn"></a>
            </button>
          <button mat-button class="github-btn"> <a href="https://github.com/leemichalee">
              <img src="./assets/GitHub-Mark-32px.png" alt="Github"></a>
            </button>
        </mat-card-actions>
      </mat-card>
      

</div>
