@import "/src/styles.scss";

.body {
    border: 1px solid transparent;
}

.main {
    background-color: $lorange;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    // margin: 0;
    padding-bottom: 50px;
    // border: 1px solid red
}

.example-card {
    max-width: 400px;
    max-height: 550px;
    margin: 20px;
    padding-bottom: 30px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

.linkedin {
    max-height: 32px;
    // max-width: 40px;
}

.mat-card-image {
    max-width: 100%;
    height: 60%;
    margin: auto;
    object-fit: contain;
}

.mat-card-content {
    margin-top: 10px;
    // object-fit: contain;

}

.github-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    
    padding-top: 12px;
    // margin-bottom: 5px;
    
}

.linkedin-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-top: 12px;
}

.mat-card-actions {
    vertical-align: bottom;
}

p {
    font-size: 10px;
}