
<title>Investment Funds</title>
<hr>
<header> <h1 id="title">Closed-End Funds</h1>

  <h2 id= "sub-title" > Explore Kite Mutuals' closed-end funds
  </h2>
</header>
<hr>

<body>

<div class="imagee">
  <img src='/assets/searchIcon.png' class ="imgg">
  <input type="text"  id="myInput" placeholder="Search for funds.." [(ngModel)]="term">
  <div id="button_div1">
    <p>
     <a routerLink="/funds/create">
        <button type = "button" id = "wrapper2" class="shadow" value="Shadow">Create Fund</button></a>
      </p>
    </div>

    
        <div style="text-align:center">
            <pagination-template #p="paginationApi" [id]="config.id" (pageChange)="config.currentPage = $event">
          
             
              <div class="custom-pagination">
                <div class="pagination-previous" [class.disabled]="p.isFirstPage()">
                  <span *ngIf="!p.isFirstPage()" (click)="p.previous()">
                    < 
                      </span> 
                  </div> 
                  <div class="page-number" *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
                        <span (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">{{ page.label }}</span>
                      <div *ngIf="p.getCurrent() === page.value">
                        <span>{{ page.label }}</span>
                      </div>
                  </div>
                  <div class="pagination-next" [class.disabled]="p.isLastPage()">
                    <span *ngIf="!p.isLastPage()" (click)="p.next()"> > </span>
                  </div>
              </div>
          
            </pagination-template>
            </div>
    </div>
  



<div class="grid-container" id="gridContainer" >
  
  <table class="info-table" >
      <tr>
          <th  scope ="col" [appSort]="funds" data-order="desc" data-name="id">
               ID
          </th>
          <th scope ="col" [appSort]="funds" data-order="desc" data-name="symbol">
              Symbol
         </th>
         <th scope ="col" [appSort]="funds" data-order="desc" data-name="name">
              Name
          </th>
          <th scope ="col" [appSort]="funds" data-order="desc" data-name="inceptionDate">
              Inception Date
          </th>
          <th scope ="col" [appSort]="funds" data-order="desc" data-name="categoryOne">
              Category1
          </th>
          <th scope ="col" [appSort]="funds" data-order="desc" data-name="categoryTwo">
              Category2
          </th>
          <th scope ="col" [appSort]="funds" data-order="desc" data-name="categoryThree">
              Category3
          </th>
          <th scope ="col" [appSort]="funds" data-order="desc" data-name="marketCap">
              Market Cap
          </th>
          <th scope ="col" [appSort]="funds" data-order="desc" data-name="currentDividendYield">
              Current Dividend Yield
          </th>
          <th scope ="col" [appSort]="funds" data-order="desc" data-name="historicalAverageDividendYield">
              Historical Average Divided Yield
          </th>
          <th scope ="col" [appSort]="funds" data-order="desc" data-name="everageFactor">
              Leverage Factor
          </th>
          <th scope ="col" [appSort]="funds" data-order="desc" data-name="averageVolume">
              Average Volume
          </th>
          <th scope ="col" [appSort]="funds" data-order="desc" data-name="action">
              Action
          </th>
          <th scope ="col" [appSort]="funds" data-order="desc" data-name="id">
              E/D
          </th>
         
      </tr>
      <tr  *ngFor="let fund of funds | filter:term | paginate: config ">
          <td>
               {{fund.id}}
          </td>
          <td>
              <a [routerLink]="['/funds', fund.id]"> {{fund.symbol}}</a>
          </td>
          <td>
              {{fund.name}}
          </td>
          <td>
              {{fund.inceptionDate}}
          </td>
          <td>
              {{fund.categoryOne}}
          </td>
          <td>
              {{fund.categoryTwo}}
          </td>
          <td>
              {{fund.categoryThree}}
          </td>
          <td>
              {{fund.marketCap}}
          </td>
          <td>
              {{fund.currentDividendYield}}
          </td>
          <td>
              {{fund.historicalAverageDividendYield}}
          </td>
          <td>
              {{fund.everageFactor}}
          </td>
          <td>
              {{fund.averageVolume}}
          </td>
          <td>
              {{fund.action}}
          </td>
          <td>
          <div id="button_div">
              <button (click) = "deleteFunds(fund.id)" id = "wrapper" class="shadow" value="Shadow">delete</button>
              </div>
              
          </td>
          
      </tr>
      
  </table> 
  
  <div style="text-align:center">
    <pagination-template #p="paginationApi" [id]="config.id" (pageChange)="config.currentPage = $event">

   
    <div class="custom-pagination" style="margin-bottom: 90px">
      <div class="pagination-previous" [class.disabled]="p.isFirstPage()">
        <span *ngIf="!p.isFirstPage()" (click)="p.previous()">
          < 
            </span> 
        </div> 
        <div class="page-number" *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
              <span (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">{{ page.label }}</span>
            <div *ngIf="p.getCurrent() === page.value">
              <span>{{ page.label }}</span>
            </div>
        </div>
        <div class="pagination-next" [class.disabled]="p.isLastPage()">
          <span *ngIf="!p.isLastPage()" (click)="p.next()"> > </span>
        </div>
    </div>

  </pagination-template>
  </div>
  
  <!-- <pagination-controls 
  [maxSize]="maxSize"
  [directionLinks]="directionLinks"
  [autoHide]="autoHide"
  [responsive]="responsive"
  [previousLabel]="labels.previousLabel"
  [nextLabel]="labels.nextLabel"
  [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
  [screenReaderPageLabel]="labels.screenReaderPageLabel"
  [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
  (pageChange)="onPageChanged($event)"></pagination-controls> -->

  <!-- <div *ngFor="let fund of funds">
      
  
  <a [routerLink]="['/funds', fund.id]"> {{fund.id}} - {{fund.symbol}}
      <br>{{fund.name}}
  </a>

  <div id="button_div">
  <button (click) = "deleteFunds(fund.id)" id = "wrapper" class="shadow" value="Shadow">delete</button>
  </div>
</div> -->

