
body{  
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, rgb(137, 139, 101), rgb(212, 24, 65));
  
  
}
header {
  background: linear-gradient(to right, rgb(137, 139, 101), rgb(212, 24, 65));
  margin: 0;
  padding-bottom: 20px;
  overflow-x: hidden; 
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  

}
title{
  background-color: orange;
  color: rgb(27, 3, 3);
  align-items: center;
  font-size: 72px;
  flex-direction: column;
  display: flex;
  resize: both;
  
}
h1 {
  color: rgb(0, 0, 0);
  align-items: center;
  flex-direction: column;
  display: flex;
  font-size: 48px;
  font-weight: 900;
}

hr{
  color: yellow;
  background-color: yellow;
  border-color: orange;
  width: 100%;
  height: 2px;
  text-align: left;
  margin: 0;

}


h2{
  color: rgb(0, 0, 0);
  align-items: center;
  flex-direction: column;
  display: flex;
  font-size: 22px;
  margin-top: 0px;
  padding-bottom: 55px;
  font-weight: 600;
}

#text{
    font-weight: 900;
    font-family: "Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
}
a { 
    // text-decoration: none; 
    color: rgb(73, 14, 235);
}


// header {
//   background: linear-gradient(to right, rgb(137, 139, 101), rgb(212, 24, 65));
//   margin: 0;
//   padding-bottom: 20px;
//   overflow-x: hidden; 
//   align-items: center;
//   justify-content: center;
//   flex-direction: column;
//   display: flex;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   resize: both;
  

// }
// title{
//   background-color: orange;
//   color: rgb(27, 3, 3);
//   align-items: center;
//   font-size: 72px;
//   flex-direction: column;
//   display: flex;
//   resize: both;
  
// }

.imgg{
  position: relative;   
   left: 25%;
   top: 56px;
   height: 40px;     
   z-index: 2;

}
#gridContainer{
  display: flex;
  flex-direction: column;
  align-items: center;

}

#myInput {

  background-image: url('/assets/searchIcon.png'); 
  background-position: 10px 12px; /* Position the search icon */
  min-width: 50%; /* Full-width */
  position: absolute;
  z-index: 1;
  left: 25%;
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 2px solid rgb(12, 12, 12); /* Add a grey border */
  margin-top: 55px;
  margin-bottom: 12px; /* Add some space below the input */
}


table {
  
    width: 85%;
    border-collapse: collapse;
    border: 3px solid rgb(255, 23, 23);
    th { 
        text-decoration: underline;
        color: white; 
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: rgb(0, 0, 0);
     }
  }

      



   tr:last-child {
    border-bottom: none;
   }

   td:nth-child(n), th:nth-child(n) {
    border-left: solid 2px rgb(228, 10, 10);
   }

   tr:nth-child(n) {
    border-bottom: solid 2px green;
   }

   tr:nth-child(1), th:nth-child(1) { width: 30px; }
   tr:nth-child(2), th:nth-child(2) { width: 60px; }
   tr:nth-child(3), th:nth-child(3) { width: 150px; }
   tr:nth-child(4), th:nth-child(4) { width: 150px; }
   tr:nth-child(5), th:nth-child(5) { width: 110px; }
   tr:nth-child(6), th:nth-child(6) { width: 110px; }
   tr:nth-child(7), th:nth-child(7) { width: 110px; }
   tr:nth-child(8), th:nth-child(8) { width: 150px; }
   tr:nth-child(9), th:nth-child(9) { width: 60px; }
   tr:nth-child(10), th:nth-child(10) { width: 75px; }
   tr:nth-child(11), th:nth-child(11) { width: 60px; }
   tr:nth-child(12), th:nth-child(12) { width: 60px; }
   tr:nth-child(13), th:nth-child(13) { width: 60px; }
   tr:nth-child(14), th:nth-child(14) { width: 60px; }
   

  th, td {
    padding: 4px;
  }

  tr:hover {
    background-color: #f1f1f1;

  }
  
  table {
    background-color: #ffffffbd;
  }

  #wrapper
  {
   padding:0px;
   text-align:center;
   height: 30px;
   width:65px;	
   color: rgb(236, 17, 17);
   margin: 0 10px 10px 10px;
   font-size: 18px;
   
  }
  #wrapper h1
  {
   margin-top:50px;
   font-size:45px;
   color:#5e4634;
  }
  #wrapper h1 p
  {
  font-size:18px;
  }

  #wrapper2
  {
  
   padding:0px;
   text-align:center;
   height: 30px;
   width:125px;	
   color: rgb(0, 0, 0);
   margin: 0 10px 10px 1600px;
   font-size: 18px;
   
  }
  #wrapper2 h1
  {
   
   margin-top:50px;
   font-size:45px;
   color:#5e4634;
  }
  #wrapper2 h1 p
  {
  font-size:18px;
  }


#button_div .shadow
{
 background-color:#000000;
 transition: all 0.35s ease;
 border-radius:5px;
}
#button_div .shadow:hover
{
 border: 1px solid #b7110b;
 background-color:white;
 color:#B7950B;
 box-shadow:0px 0px 25px 0px #B7950B;
}

#button_div1 .shadow
{
 background-color:#ffc14d;
 transition: all 0.35s ease;
 border-radius:5px;
}
#button_div1 .shadow:hover
{
 border: 1px solid #b7110b;
 background-color:white;
 color:#B7950B;
 box-shadow:0px 0px 25px 0px #B7950B;
}
// #wrapper
// {
//  margin:0 auto;
//  padding:0px;
//  text-align:center;
//  height: 35px;
//  width:55px;	
// }
// #wrapper h1
// {
//  margin-top:50px;
//  font-size:45px;
//  color:#34495E;
// }
// #wrapper h1 p
// {
// font-size:18px;
// }
// #button_div input[type="button"]
// {
//  background-color:none;
//  width:120px;
//  height:50px;
//  margin:20px;
//  font-size:17px;
//  color:white;
//  border:none;
// }

// #button_div .shadow
// {
//  background-color:#d83131;
//  transition: all 0.35s ease;
//  border-radius:5px;
// }
// #button_div .shadow:hover
// {
//  border: 1px solid #B7950B;
//  background-color:rgb(255, 255, 255);
//  color:#B7950B;
//  box-shadow:0px 0px 25px 0px #B7950B;
// }