<div class="dialogBoxSize">
    <h1>What is a Mutual Fund?</h1>

    <hr>

    <mat-dialog-content>
        <p>
            A mutual fund is a company that pools money from many investors and invests 
            the money in securities such as stocks, bonds, and short-term debt. The combined 
            holdings of the mutual fund are known as its portfolio. Investors buy shares in 
            mutual funds. Each share represents an investor's part ownership in the fund and 
            the income it generates.
        </p>

        <p>
            Investors buy mutual fund shares from the fund itself or through a broker for 
            the fund, rather than from other investors. The price that investors pay for 
            the mutual fund is the fund's per share net asset value plus any fees charged 
            at the time of purchase, such as sales loads. Mutual fund shares are “redeemable,” 
            meaning investors can sell the shares back to the fund at any time.
        </p>
    </mat-dialog-content>

    <mat-dialog-actions>

        <button mat-raised-button mat-dialog-close class="closeButton">Close</button>

    </mat-dialog-actions>
</div>