@import "/src/styles.scss";

mat-divider {
    margin-top: 1px;
    margin-bottom: 1px;
    width: 50px;
    background-color: rgba(255, 255, 255, 0.5);
}

.container {
    background-color: transparent;
    overflow: initial;
    padding-top: 6%;
}

.sidenav {
    margin: 5px;
    width: 225px;
    border-right: none;
    color: $color--dark;
    border-radius: 10px;
    padding: 15px;
    text-align: left;
    height: 500px;
    position: sticky;
    top: 55px;
}

.content {
    overflow: initial;
    position: relative;
    // margin-top: -505px;
    margin-top: -559px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.divider-recolored {
    width: 100%;
    background-color: rgb(173, 173, 173);
}

th.mat-sort-header-sorted {
    color: black;
}

.whatIsMutualFundButton {
  margin: 5px;
  background-color: $lorange;
}

.whatIsMutualFundButton:hover {
  background-color: whitesmoke;
}

.mutualFundsHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: inherit;
  width: auto;
  justify-content: center;
  padding-top: 4%;
}

.leftHeader {
  width: 550px;
  margin: 10px;
}

.leftHeader h1,
p {
  padding-left: 50px;
  padding-right: 50px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.leftHeader button {
  margin-left: 70px;
}

.rightHeader {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  margin: 10px;
}

.mutualFundsImage {
  max-width: 90%;
  max-height: 100%;
  justify-content: center;
  margin: 5%;
  flex-wrap: inherit;
}