<div class="mutualFundsHeader">
    <div class="leftHeader" id="top">
        <h1>Explore Mutual Funds with Kite Mutual</h1>
        <p>
            STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF 
            STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF 
            STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF 
            STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF 
            STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF 
            STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF 
            STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF 
        </p>
        <br>

        <button mat-raised-button class="whatIsMutualFundButton" (click)="openMutualFundsDialog()">
            What is a Mutual Fund
        </button>

    </div>

    <div class="rightHeader">
        <img class="mutualFundsImage" src="../../../../assets/undraw_folder_re_j0i0.svg" alt="coverlogo">
    </div>
    
</div>

<mat-sidenav-container class="container" id="tableTop">

    <mat-sidenav class="sidenav mat-elevation-z8" mode="side" opened>

        <app-mutual-funds-sidenav></app-mutual-funds-sidenav>

    </mat-sidenav>

    <mat-sidenav-content class="content">

        <app-mutual-funds-table [displayedColumns]="displayedColumns" ></app-mutual-funds-table>
        <!-- <app-mutual-funds-investments></app-mutual-funds-investments> -->

    </mat-sidenav-content>

</mat-sidenav-container>

<p> Future Footer </p>
