@import "/src/styles.scss";

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: inherit;
}

.schedule {
  text-align: center;
  text-decoration: underline;
  // border-bottom: 2px solid black;
}

.schedule p {
  padding-bottom: 15px;
}

.mutual-funds-btn {
  background-color: white;
  color: black;
  margin-left: 150px;
  margin-top: 10px;
}

.stocks-btn {
  background-color: white;
  color: black;
  margin-left: 150px;
  margin-top: 10px;
}

.etf-btn {
  background-color: white;
  color: black;
  margin-left: 150px;
  margin-top: 10px;
}

.mutual-funds {
  display: flex;
  flex-direction: row;
  flex-wrap: inherit;
  background-color: white;
  height: 425px;
  width: auto;
  justify-content: center;
  // border-bottom: 2px solid black;
}

.far-left,
.near-left,
.near-right,
.far-right {
  h1 {
    padding-left: 30px;
    font-family: $hfont;
  }
  height: 300px;
  width: 550px;
  margin-top: 1%;
  padding: 60px;
}

.computer-logo {
  max-height: 100%;
  max-width: 100%;
}

.socialicon {
  height: 50px;
  background: url(https://img.icons8.com/ios/50/000000/twitter--v2.png);
}

// carousel
.carousel {
  display: block;
  height: 90vh;
  width: 100vw;
  // padding: 5vw;
  background-color: white;
  overflow: hidden;
}

.slogan {
  height: 40vh;
  margin-top: 15rem;
  margin-left: 4rem;
  margin-bottom: 2rem;
}

.slogan h2 {
  font-family: $hfont;
  font-size: 4rem;
  margin-left: 2rem;
}
