<div class="container">
    <div class="orange">
        <div class="left">
            <h1>Power your future!</h1>
            <p>
                Get started with investing, plus the tools you need to calculate retirement and
                learn how to make your money work for you!  
                Sign up and speak with a broker today or learn on your own and 
                start making investments.
            </p>
            <br>
            <button mat-raised-button>
                Signup
            </button>

        </div>
        <div class="right">
            <img class="coverlogo" src="./assets/default-monochrome.svg" alt="coverlogo">
        </div>
        
    </div>
    <div class="schedule">
        <p> Speak with a broker </p>
    </div>
    <div class="bonds">
        <!-- <p>bonds</p> -->
        <div class="bonds-left">
            <img class="bonds-left-img" src="./assets/undraw_shared_goals_re_jvqd.svg"
             alt="sharedgoalspic">
        </div>
        <div class="bonds-right">
            <h1 class="bonds-title"> Buy a Corporate Bond </h1>
            <ul class="bonds-list">
                <li> Learn about about Corporate Bonds. </li>
                <li> Pick from a selection of NYSE Bonds. </li>
                <li> Get Advice from the Pro's </li>
                <li> Start diversifying your portfolio. </li>
            </ul>
            <button mat-raised-button class="bond-btn" routerLink="/bonds">
                <!-- <a routerLink= "/bonds"> -->
                    Get Started
                <!-- </a> -->
            </button>
        </div>
    </div>
    <div class="mutual-funds">
        <!-- mutual funds -->
        <div class="far-left">
            <h1> Discover </h1>
            <p> 
                Explore how mutual funds can help your money grow and 
                prepare you for the future.
            </p>
            <button mat-raised-button class="mutual-funds-btn">
                Mutual Funds
            </button>
        </div>
        <div class="near-left">
            <h1> Explore </h1>
            <p> 
                Find different ways to invest, while strategically positioning yourself
                for the best returns.
            </p>
            <button mat-raised-button class="stocks-btn" (click)="goToStocks()">
                Stocks
            </button>

        </div>
        <div class="near-right">
            <h1> Invest </h1>
            <p>
                Take a look at our top of the line ETF's and limit the risk in your 
                investment.
            </p>
            <button routerLink="/etfs" mat-raised-button class="etf-btn">
                ETF's
            </button>
        </div>
        <div class="far-right">
            <img class="computer-logo" src="./assets/undraw_startup_life_re_8ow9.svg" alt="">
        </div>

    </div>
    <div class="retirement">
        <div class="retire-left">
            <img class="retirement-img" src="./assets/undraw_calculator_re_jy39.svg" alt="retirementImg">
            
        </div>
        <div class="retire-right">
            <h1> Keep Tabs on Retirement </h1>
            <p> 
                Check out our retirement calculator and learn what 
                you need to do in order to save comfortably. Learn different
                ways to invest in retirement and get started saving!
            </p>
            <button mat-raised-button class="retire-btn" routerLink="/retcalc">
                Let's Go
            </button>
        </div>

    </div>
</div>
