<div class="container">
    <div class="carousel">
        <app-carousel *ngFor="let slide of slides" [slides]="slide"></app-carousel>
    </div>

    <!-- <div class="schedule">
        <p> Speak with a broker </p>
    </div> -->

    <div class="slogan">
        <h2>We've Got Your Back!</h2>
        <h2>For All Your Investment Needs.</h2>
    </div>

    <div class="mutual-funds">
        <!-- mutual funds -->
        <div class="far-left">
            <h1> Discover </h1>
            <p> 
                Explore how mutual funds can help your money grow and 
                prepare you for the future.
            </p>
            <button routerLink="/mutual_funds" mat-raised-button class="mutual-funds-btn">
                Mutual Funds
            </button>
        </div>
        <div class="near-left">
            <h1> Explore </h1>
            <p> 
                Find different ways to invest, while strategically positioning yourself
                for the best returns.
            </p>
            <button mat-raised-button class="stocks-btn" routerLink="/stocks">
                Stocks
            </button>

        </div>
        <div class="near-right">
            <h1> Invest </h1>
            <p>
                Take a look at our top of the line ETF's and limit the risk in your 
                investment.
            </p>
            <button routerLink="/etfs" mat-raised-button class="etf-btn">
                ETF's
            </button>
        </div>
        <div class="far-right">
            <img class="computer-logo" src="./assets/undraw_startup_life_re_8ow9.svg" alt="">
        </div>

    </div>

    <div class="bottom">
        
    </div>
    
</div>
