@import "/src/styles.scss";

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: inherit;
}

.schedule {
  text-align: center;
  text-decoration: underline;
  // border-bottom: 2px solid black;
}

.schedule p {
  padding-bottom: 15px;
}

.mutual-funds-btn,
.stocks-btn,
.etf-btn {
  background-color: $navyb;
  color: white;
  margin-left: 150px;
  margin-top: 10px;
}

.mutual-funds {
  display: flex;
  flex-direction: row;
  flex-wrap: inherit;
  background-color: white;
  height: 425px;
  width: auto;
  justify-content: center;
  // border-bottom: 2px solid black;
}

.far-left,
.near-left,
.near-right,
.far-right {
  h1 {
    // padding-left: 30px;
    font-family: $hfont;
    font-size: 2.5rem;
    text-decoration: $rorange 0.2rem dashed underline;
  }
  height: 300px;
  width: 550px;
  margin-top: 1%;
  padding: 60px;
}

p {
  font-family: $pfont;
  font-size: 2rem;
}

.computer-logo {
  max-height: 100%;
  max-width: 100%;
}

.socialicon {
  height: 50px;
  background: url(https://img.icons8.com/ios/50/000000/twitter--v2.png);
}

// carousel
.carousel {
  display: block;
  height: 90vh;
  width: 100vw;
  // padding: 5vw;
  background-color: white;
  overflow: hidden;
}

.slogan {
  height: 40vh;
  display: flex;
  justify-content: space-between;
  margin: 3rem;
  // margin-top: 15rem;
  // margin-left: 4rem;
  // margin-bottom: 2rem;
}

h2 {
  font-family: $hfont;
  font-size: 4rem;
  margin-left: 4rem;
  margin-bottom: 0;
}

h3 {
  font-family: $pfont;
  font-size: 1.5rem;
  max-width: 6rem;
  margin-bottom: 0.2rem;
}

.sm {
  margin-right: 1rem;
}

.words {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.mappy,
.bottom {
  display: flex;
  width: 100%;
}

.mapm {
  max-width: 50%;
}

.mapm img {
  width: 90%;
  margin: 5%;
  margin-top: 0;
  opacity: 0.8;
}

.mapw {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
}

.mapw a {
  font-family: $pfont;
  font-size: 2rem;
  color: $dblue;
  margin: 4rem;
}

.learn {
  background-color: rgb(248, 248, 248);
  display: flex;
  margin-bottom: 10rem;
}

.lw,
.whow,
.wb {
  width: 50%;
  margin-top: 6%;
}

.lp,
.whop,
.pb {
  width: 50%;
}

.lp img,
.whop img {
  width: 90%;
  margin: 5%;
}

.learn a,
.whowe a,
.bottom a {
  font-family: $pfont;
  font-size: 2rem;
  color: $dblue;
  margin: 4rem;
}

.learn p,
.whowe p,
.bottom p {
  margin: 4rem;
}

.learn h2 {
  color: $dorange;
}

.whowe {
  background-color: ghostwhite;
  display: flex;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.whowe h2 {
  color: $navyb;
}

.bottom {
  margin-bottom: 9rem;
}

.pb img {
  width: 40%;
  margin-top: 5rem;
}

.pb {
  display: flex;
  align-items: center;
  justify-content: center;
}
