

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

main{
    width: 500px;
}

mat-dialog-actions {
    justify-content: flex-end;
    align-items: flex-end;
}
