<main>
  <h1 mat-dialog-title>What is an ETF?</h1>
  <hr>
  <mat-dialog-content>
    <p>
      An exchange traded fund (ETF) is a type of security that tracks an index,
      sector, commodity, or other asset, but which can be purchased or sold on a
      stock exchange the same way a regular stock can. An ETF can be structured
      to track anything from the price of an individual commodity to a large and
      diverse collection of securities. ETFs can even be structured to track
      specific investment strategies.
    </p>
    <p>
      A well-known example is the SPDR S&P 500 ETF (SPY), which tracks the S&P
      500 Index. ETFs can contain many types of investments, including stocks,
      commodities, bonds, or a mixture of investment types. An exchange traded
      fund is a marketable security, meaning it has an associated price that
      allows it to be easily bought and sold.
    </p>
  </mat-dialog-content>
  <mat-dialog-actions>
      <button mat-raised-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</main>
